<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>109354639645-oen34bubgqmga6lcgl8kc890srcij1cl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.109354639645-oen34bubgqmga6lcgl8kc890srcij1cl</string>
	<key>API_KEY</key>
	<string>AIzaSyBml3UuFc98KznKXxyhM47dbABX6WFyUdw</string>
	<key>GCM_SENDER_ID</key>
	<string>109354639645</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gmail.evanshrestha.ClassR</string>
	<key>PROJECT_ID</key>
	<string>classr-3418e</string>
	<key>STORAGE_BUCKET</key>
	<string>classr-3418e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:109354639645:ios:111ba0093ded6c44</string>
	<key>DATABASE_URL</key>
	<string>https://classr-3418e.firebaseio.com</string>
</dict>
</plist>